<div class="section1">
	<mat-toolbar id="header">
		<div class="ovVersion">
			<span>{{ version }}</span>
		</div>
	</mat-toolbar>
	<div class="container">
		<div class="ovInfo">
			<h4>Please input session ID</h4>
		</div>
		<div class="formContainer">
				<div class="joinForm">
					<button type="submit" class="joinButton" id="joinButton" (click)=rejoinStream()>JOIN</button>
				</div>
		</div>
	</div>


	<mat-toolbar class="footer">
		<span>
			Photo by
			<a
				rel="noopener noreferrer"
				target="_blank"
				href="https://unsplash.com/@danielleone?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
			>
				Daniel Leone
			</a>
			on
			<a
				href="https://unsplash.com/s/photos/mountain?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
				target="_blank"
			>
				Unsplash
			</a></span
		>
	</mat-toolbar>
</div>
